
nbproject/private/

uml\.asta\.lock
/Projeto Jsoup/netbeans/JsoupWeb/build/
/Projeto Jsoup/netbeans/JsoupWeb/nbproject/private/
Projeto Jsoup/netbeans/JsoupWeb/nbproject/build-impl\.xml

Projeto Jsoup/netbeans/JsoupWeb/nbproject/genfiles\.properties

Projeto Jsoup/netbeans/JsoupWeb/nbproject/project\.xml

Projeto Jsoup/netbeans/JsoupWeb/nbproject/project\.properties

Projeto Jsoup/netbeans/JsoupWeb/src/java/br/unesp/rc/jsoupDemo/utils/IMySQL\.java
/Projeto Jsoup/netbeans/JsoupWeb/dist/